server:
  port: 8081

spring:
  application:
    name: Viral Prompt BackEnd
  
  datasource:
    url: jdbc:postgresql://db.omzqyfrpkeugowescddg.supabase.co:5432/postgres
    username: postgres
    password: Mehervaan2680#
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
    open-in-view: false

  thymeleaf:
    cache: false
